.all-video-container {
    .categories-container {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 20px;

        a {
            text-decoration: none;
        }

        span {
            height: 22px;
            width: 22px;
        }

    }

    .video-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        .news-cart {
            position: relative;

            img {
                width: 100%;
                height: 250px;

                &.paly-icon {
                    position: absolute;
                    height: 45px;
                    width: 45px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            h2 {
                position: absolute;
                bottom: 0px;
                left: 0px;
                font-size: 18px;
                width: 100%;
                color: #fff;
                padding: 15px 5px 5px 5px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgb(0 0 0 / 74%) 50%, rgb(0 0 0 / 93%) 100%);
                text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
                box-sizing: border-box;
            }

        }

    }

}


@media only screen and (min-width:200px) and (max-width:1300px) {
    .all-video-container {

        .video-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .news-cart {
                position: relative;

                img {
                    height: 200px;

                    &.paly-icon {
                        height: 45px;
                        width: 45px;

                    }

                }

                h2 {
                    font-size: 14px;
                    font-weight: 400;
                }

            }

        }

    }
}

@media only screen and (min-width:200px) and (max-width:850px) {
    .all-video-container {

        .video-section {
            grid-template-columns: 1fr 1fr;

            .news-cart {
                position: relative;

                img {
                    height: 200px;

                    &.paly-icon {
                        height: 45px;
                        width: 45px;

                    }

                }

                h2 {
                    font-size: 14px;
                }

            }

        }

    }
}

@media only screen and (min-width:200px) and (max-width:550px) {
    .all-video-container {

        .video-section {
            gap: 5px;

            .news-cart {
                position: relative;

                img {
                    height: 150px;

                    &.paly-icon {
                        height: 40px;
                        width: 40px;

                    }

                }

                h2 {
                    font-size: 12px;
                }

            }

        }

    }
}