.sport-debate-container {
    display: grid;
    margin: 40px auto;
    grid-template-columns: 60% auto;
    gap: 30px;

    .title {
        h4 {
            width: max-content;
            background-color: #000;
            padding: 5px 10px;
            margin-bottom: 10px;
        }
    }

    .sports-section {



        .news-container {
            width: 100%;
            // height: 400px;
            display: grid;
            grid-template-columns: repeat(3, 33.33%);
            gap: 15px;
            justify-content: space-between;

            .news-cart {
                display: inline-block;
                position: relative;
                text-decoration: none;
                width: 360px;
                overflow: hidden;
                box-sizing: border-box;
                background-color: #FFF;
                box-shadow: -7px 7px 15px 0 rgb(0 0 0 / 12%);

                &:nth-child(1) {
                    grid-column: 1/4;
                    width: calc(100% - 25px);
                    height: 400px;
                    position: relative;

                    h2 {
                        font-size: 27px;
                        height: 100%;
                        color: #FFFFFF !important;

                    }

                    p {
                        color: #FFFFFF !important;

                    }

                    img {
                        width: 100%;
                        height: 100%;

                    }

                    div {
                        width: 100%;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        padding: 50px 14px 1px;
                        bottom: 0;
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgb(0 0 0 / 74%) 50%, rgb(0 0 0 / 93%) 100%);
                        text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
                        transition: .1s;
                        position: absolute;

                        h2 {
                            font-size: 27px;
                            height: 100%;
                        }

                        p {
                            height: 47px;
                            width: max-content;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 100%;
                        }



                    }
                }

                div {
                    padding: 10px;
                    color: #000;
                }

                h2 {
                    font-size: 18px;
                    height: 27px;
                    width: max-content;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;

                }

                p {
                    height: 60px;
                    width: 100%;
                    width: max-content;
                    overflow: hidden;
                    // white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                }

                img {
                    height: 60%;
                    width: 100%;

                }

            }
        }
    }

    .debate-section {
        .news-container {
            display: flex;
            flex-direction: column;

            .news-cart {
                display: flex;
                justify-content: space-between;
                align-items: space-between;
                color: #000;
                text-decoration: none;
                border-bottom: 1px solid #9d7b7b;
                padding: 15px 0px 15px 0px;

                h2 {
                    font-weight: 500;
                }

                img {
                    width: 300px !important;
                    min-width: 300px !important;
                    height: 100%;
                }
            }
        }
    }
}