.news-topic-container {
    .main-section {
        .top-section {
            margin-top: 30px;

            .title-section {
                display: flex;
                gap: 10px;
                align-items: end;
                margin-bottom: 10px;

                h3 {
                    font-size: 27px;
                    color: var(--default-color) !important;

                }

                p {
                    font-size: 18px;
                    color: var(--default-color) !important;
                }
            }

            .news-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
                gap: 15px;

                .news-cart {
                    text-decoration: none;
                    img {
                        height: 200px;
                        width: 100%;
                    }

                    h2 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                    }

                    &:nth-child(1) {
                        grid-column: 1/3;
                        grid-row: 1/3;

                        h2 {
                            font-size: 23px !important;

                        }

                        p {
                            font-size: 18px;
                        }

                        img {
                            width: 100%;
                            height: 450px !important;
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width:1000px) {
    .news-topic-container {
        .main-section {
            .top-section {
                .title-section {
                    h3 {
                        font-size: 23px;
                    }

                    p {
                        font-size: 19px;
                    }
                }

                .news-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    width: 100%;
                    gap: 15px;

                    .news-cart {
                        img {
                            height: 150px;
                            width: 100%;
                        }

                        h2 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 15px;
                        }

                        &:nth-child(1) {

                            h2 {
                                font-size: 23px !important;

                            }

                            p {
                                font-size: 18px;
                            }

                            img {
                                width: 100%;
                                height: 350px !important;
                            }
                        }


                    }
                }
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width:750px) {
    .news-topic-container {
        .main-section {
            .top-section {
                .title-section {
                    h3 {
                        font-size: 23px;
                    }

                    p {
                        font-size: 19px;
                    }
                }

                .news-list {
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;

                    .news-cart {
                        img {
                            height: 130px;
                            width: 100%;
                        }

                        h2 {
                            font-size: 16px;
                            font-weight: 600;

                        }

                        p {
                            font-size: 14px;
                        }

                        &:nth-child(1) {

                            h2 {
                                font-size: 20px !important;

                            }

                            p {
                                font-size: 15px;
                            }

                            img {
                                width: 100%;
                                height: 300px !important;
                            }
                        }


                    }
                }
            }
        }
    }
}
@media only screen and (min-width:200px) and (max-width:550px) {
    .news-topic-container {
        .main-section {
            .top-section {
                .title-section {
                    h3 {
                        font-size: 20px; 
                    }

                    p {
                        font-size: 16px;
                    }
                }

                .news-list {  
                    .news-cart {
                        img {
                            height: 110px;
                            width: 100%;
                        } 
 

                        &:nth-child(1) { 

                            img {
                                width: 100%;
                                height: 220px !important;
                            }
                        }


                    }
                }
            }
        }
    }
}