.signin-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  min-height: 100vh;
  height: 100%;

  &:before,
  &:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;


  }

  &:before {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../../../assets/images/signin/signin.jpg");

  }

  &:after {
    backdrop-filter: blur(10px)
  }


  .contact2-form {
    width: 60%;
    padding: 72px 55px 90px;
    margin-top: 100px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: #00000024;



    .contact2-form-title {
      display: block;
      font-family: Poppins-Bold;
      font-size: 39px;
      color: #FFF;
      line-height: 1.2;
      text-align: center;
      padding-bottom: 20px;

    }

    .reward-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 0;
      height: 400px;
      // background-color: #f4f4f4;

      .circle {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        overflow: hidden;
        border: 1px solid green;

        &::after {
          position: absolute;
          content: "0%";
          left: 50%;
          top: 50%;
          font-size: 20px;
          font-weight: 600;
          color: #000 !important;

        }

      }

      .discretion {
        h6 {
          font-weight: 700;
          font-size: 19px;
        }

        .list {
          display: flex;
          flex-direction: column;
          gap: 8px;

          // padding-left: 10px;
          div {
            display: flex;
            align-content: center;
            gap: 4px;
            margin: 0px;
            padding: 0px;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 30px;
              width: 30px;
              background-color: var(--itemCol);
              color: #FFF;
              border-radius: 3px;
              font-weight: 600;
            }

            strong {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 800;
              font-size: 19px;
            }
          }
        }
      }

      .circle::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: inherit;
        z-index: 1;
      }

      .segment {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-weight: bold;
        z-index: 2;
        clip-path: polygon(50% 50%, 0 0, 100% 0);
        /* Adjust for each segment */
      }


    }

    .validate-input {
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      height: 50px;

      &.duel-input {
        display: flex;
        gap: 20px;

        div {
          width: 50%;
          position: relative;
        }
      }



      &.calender-section,
      &.auto-approve,
      &.image-section {
        display: flex;
        position: none;
        justify-content: space-between;
        align-items: center;

        span,
        input {
          position: relative;
        }

        input {
          width: 200px;
        }
      }





      input,
      textarea {
        background-color: transparent;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        outline: none;
        border: none;
        z-index: 2;
        border-bottom: 2px solid #a19a9a;
        padding-bottom: 5px;
        color: #fff;

        &:focus {
          border-bottom: 2px solid #e4e4e4;

        }

        &:focus+span,
        &.fill+span {
          bottom: 50%;
        }



      }


      span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        // width: 100%;
        padding-bottom: 5px;
        transition: .5s;
        z-index: 1;
        color: #FFF;
        font-weight: 700;

      }
    }

    .container-contact2-form-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: var(--default-color);
        color: #FFF;
        padding: 10px 30px;
        border-radius: 5px;
        font-weight: 800;
        outline: none;
        border: none;
        cursor: pointer;

        &:active {
          transform: scale(.9);
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}