.single-video-container {
    margin-bottom: 40px;

    .news-details {
        display: grid;
        grid-template-columns: 70% auto;
        gap: 40px;
        margin-top: 20px;

        .main-news-container {
            margin-bottom: 25px;

            .categories-container {
                display: flex;
                align-items: center;
                color: #000;
                font-size: 20px;

                a {
                    text-decoration: none;
                }

                span {
                    height: 22px;
                    width: 22px;
                }

            }

            .news-container {
                iframe {
                    height: 100%;
                    min-height: 650px;
                    width: 100%;
                }

            }
        }

        .related-news-container {
            .ads-section {
                width: 100%;
                max-width: 400px;

                img {
                    width: 100%;
                    height: 200px;
                    margin: 5px 0px;
                }
            }

            .news-section {
                .title {
                    font-size: 18px;
                    font-weight: 600;
                }

                .new-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    a {
                        display: flex;
                        // grid-template-columns: calc(80% - 5px) 20%; 
                        align-items: center;
                        text-decoration: none;
                        //  gap: 5px;
                        padding: 5px;

                        h6 {
                            width: 100%;
                            font-weight: 500;
                            font-size: 16px;
                        }

                        img {
                            width: 85px;
                            height: 55px;
                        }

                        border-bottom: 1px solid #e9ebf0;
                    }

                }
            }
        }
    }
}


@media only screen and (min-width:200px) and (max-width:1450px) {
    .single-video-container {
        margin-bottom: 40px;

        .news-details {
            grid-template-columns: 70% auto;
            gap: 10px;
            margin-top: 20px;

            .main-news-container {
                margin-bottom: 25px;

                .categories-container {
                    display: flex;
                    align-items: center;
                    color: #000;
                    font-size: 15px;

                    a {
                        text-decoration: none;
                    }

                    span,
                    svg {
                        height: 22px;
                        width: 22px;
                    }

                }

                .news-container {
                    h2 {
                        font-size: 23px;

                    }

                    iframe {
                        height: 100%;
                        min-height: 500px;
                        width: 100%;
                    }

                }
            }

            .related-news-container {
                .ads-section {
                    width: 100%;
                    max-width: 400px;

                    img {
                        width: 100%;
                        height: 200px;
                        margin: 5px 0px;
                    }
                }

                .news-section {
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .new-list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        a {
                            display: flex;
                            // grid-template-columns: calc(80% - 5px) 20%; 
                            align-items: center;
                            text-decoration: none;
                            //  gap: 5px;
                            padding: 5px;

                            h6 {
                                font-size: 14px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width:900px) {
    .single-video-container {
        margin-bottom: 40px;

        .news-details {
            grid-template-columns: 1fr;
            gap: 10px;
            margin-top: 20px;

            .main-news-container {

                .categories-container {
                    display: flex;
                    align-items: center;
                    color: #000;

                    a {
                        text-decoration: none;
                    }

                    span {
                        height: 22px;
                        width: 22px;
                    }

                }

                .news-container {

                    h2 {
                        font-size: 23px;

                    }
                    iframe {
                        height: 100%;
                        min-height: 400px;
                        width: 100%;
                    }
                }
            }

            .related-news-container {
                .ads-section {
                    width: 100%;
                    max-width: 100%;

                    img {
                        width: 100%;
                        height: 200px;
                        margin: 5px 0px;
                    }
                }

                .news-section {
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .new-list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            padding: 5px;

                            h6 {
                                font-size: 14px;
                            }

                            img {
                                width: 200px;
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width:650px) {
    .single-video-container {
        .news-details {
            .main-news-container {
                .categories-container {
                    display: flex;
                    align-items: center;
                    color: #000;

                    a {
                        text-decoration: none;
                    }

                    span {
                        height: 22px;
                        width: 22px;
                    }

                }

                .news-container {

                    h2 {
                        font-size: 18px;

                    }

                    p {
                        font-size: 14px;
                    }

                    iframe { 
                        min-height: 300px; 
                    }
                }
            }

            .related-news-container {
                .ads-section {

                    img {
                        width: 100%;
                        height: 140px;
                    }
                }


            }
        }
    }
}