.news-details-container {
    margin-bottom: 40px;

    .news-details {
        display: grid;
        grid-template-columns: 70% auto;
        gap: 40px;
        margin-top: 20px;

        .main-news-container {
            margin-bottom: 25px;

            .categories-container {
                display: flex;
                align-items: center;
                color: #000;
                font-size: 20px;

                a {
                    text-decoration: none;
                }

                span {
                    height: 22px;
                    width: 22px;
                }

            }

            .news-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 20px;

                h2 {
                    font-size: 28px;

                }

                img {
                    height: 400px;
                    width: 100%;
                }

                p {
                    color: #0F0F0F;
                }
            }
        }

        .related-news-container {
            .ads-section {
                width: 100%;
                max-width: 400px;

                img {
                    width: 100%;
                    height: 200px;
                    margin: 5px 0px;
                }
            }

            .news-section {
                .title {
                    font-size: 18px;
                    font-weight: 600;
                }

                .new-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    a {
                        display: flex;
                        // grid-template-columns: calc(80% - 5px) 20%; 
                        align-items: center;
                        text-decoration: none;
                        //  gap: 5px;
                        padding: 5px;

                        h6 {
                            width: 100%;
                            font-weight: 500;
                            font-size: 16px;
                        }

                        img {
                            width: 85px;
                            height: 55px;
                        }

                        border-bottom: 1px solid #e9ebf0;
                    }

                }
            }
        }
    }
}